{% extends "bookmaker/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Add file" %}{% endblock %}

{% block body_class %}add-file{% endblock %}
    
{% block dialog_header_outer %}
    {% include "bookmaker/fragments/dialog-header.html" %}
{% endblock %}

{% block dialog_left_box %}
    <p class="calltoaction">{% blocktrans %}Add a 750 Words export file to your book.{% endblocktrans %}</p>
    <p class="description">{% blocktrans %}Don't worry, you can add more later.{% endblocktrans %}</p>
    {% include "bookmaker/fragments/return-link.html" %}
{% endblock %}

{% block dialog_right_box %}
    
    <form class="add-file" enctype="multipart/form-data" action="{% url add_files nonce=submission.nonce %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p class="submit-next">
            {% trans "Next step" %}: {% trans "review" %}
            <input class="submitbutton" type="submit" value="{%trans "Add file"%}" />
        </p>
    </form>
    
{% endblock %}
