{% extends "bookmaker/base.html" %}

{% load i18n %}

{% block head_title %}
    {% if editing %}
        Update submission
    {% else %}
        Create new submission
    {% endif %}
{% endblock %}

{% block body_class %}
    {% if editing %}
        update-submission
    {% else %}
        create-submission
    {% endif %}
{% endblock %}

{% block dialog_header_outer %}
    {% if editing %}
        {% include "bookmaker/fragments/dialog-header.html" %}
    {% endif %}
{% endblock %}

{% block dialog_left_box %}
    {% if editing %}
        <p class="calltoaction">
            {% blocktrans %}Update the book's title and author.{% endblocktrans %}
        </p>
        <p class="description">
            {% blocktrans %}Measure twice, check for tyops thrice.{% endblocktrans %}
        </p>
        {% include "bookmaker/fragments/return-link.html" %}
    {% else %}
        <p class="calltoaction">
            {% blocktrans %}
                Turn your <a href="http://750words.com">750 Words</a> writing into a physical book!
            {% endblocktrans %}
        </p>
        <p class="description">{% blocktrans %}Just enter your name and the book's title to get started.{% endblocktrans %}</p>
    {% endif %}
{% endblock %}

{% block dialog_right_box %}
    
    <form class="create-update-submission" 
        action="{% if editing %}{% url update nonce=submission.nonce %}{% else %}{% url create %}{% endif %}" 
        method="post">

        {% csrf_token %}
        {{ form.as_p }}
        <p class="submit-next">
            {% trans "Next step" %}: 
            {% if editing %}{% trans "review" %}{% else %}{% trans "add files" %}{% endif %}
            <input class="submitbutton" type="submit" value="{% if editing %}{% trans "Update" %}{% else %}{% trans "Create" %}{% endif %}" />
        </p>
    </form>
    
{% endblock %}
