{% extends "bookmaker/base.html" %}

{% load i18n %}

{% block head_title %}
    {% if editing %}
        Update submission
    {% else %}
        Create new submission
    {% endif %}
{% endblock %}

{% block body_class %}
    {% if editing %}
        update-submission
    {% else %}
        create-submission
    {% endif %}
{% endblock %}

{% block dialog_header_outer %}
    {% if editing %}
        {% include "bookmaker/fragments/dialog-header.html" %}
    {% endif %}
{% endblock %}

{% block dialog_left_box %}
    <p class="first calltoaction">
        {% blocktrans %}
            Turn your <a href="http://750words.com">750 Words</a> writing into a physical book!
        {% endblocktrans %}
    </p>

    <p class="last description">{% blocktrans %}Just enter your name and the book's title to get started.{% endblocktrans %}</p>
{% endblock %}

{% block dialog_right_box %}
    
    <form class="create-update-submission" 
        action="{% if editing %}{% url update nonce=submission.nonce %}{% else %}{% url create %}{% endif %}" 
        method="post">

        {% csrf_token %}
        {{ form.as_p }}
        <p class="submit-next">
            {% trans "Next step" %}: 
            {% if editing %}{% trans "review" %}{% else %}{% trans "add files" %}{% endif %}
            <input class="submitbutton" type="submit" value="{% if editing %}{% trans "Update" %}{% else %}{% trans "Create" %}{% endif %}" />
        </p>
        {% if editing %}
            <a class="return" href="{% url review nonce=submission.nonce %}">{% trans "Return to book" %}</a>
        {% endif %}
    </form>
    
{% endblock %}
