{% extends "bookmaker/base.html" %}

{% load i18n %}

{% block head_title %}
    {% if processed %}
        {% trans "Processed" %}
    {% else %}
        {% trans "Review" %}
    {% endif %}
{% endblock %}

{% block body_class %}review{% endblock %}
    
{% block dialog_header_outer %}
    {% include "bookmaker/fragments/dialog-header.html" %}
{% endblock %}

{% block dialog_left_box %}
    <p id="reviewpage-calltoaction" class="first calltoaction">{% blocktrans %}Review your book!{% endblocktrans %}</p>

    <p id="reviewpage-description" class="last description">{% blocktrans %}When you're happy with it, click 'Submit book for processing...'{% endblocktrans %}</p>
{% endblock %}

{% block dialog_right_box %}
    
    <dl class="usersubmission">
        <dt>{% trans "Title" %}</dt>
        <dd>{{ submission.title }}</dd>

        <dt>{% trans "Author" %}</dt>
        <dd>{{ submission.author }}</dd>

        <dt>{% trans "Files" %}</dt>
        <dd>
            <ul>
                {% for file in files %}
                    <li>{{ file }}</li>
                {% endfor %}
            </ul>
        </dd>
    </dl>
    
    {% if not processed %}
        <p class="usersubmission_actions">
            <a href="{% url update nonce=submission.nonce %}">Update</a>
            <a href="{% url add_files nonce=submission.nonce %}">Add or delete files</a>
        </p>

        <form action="{% url process nonce=submission.nonce %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Submit book for processing..."/>
        </form>
    {% else %}
        <a href="{{ submission.processed_url }}">Here's your completed book!</a>
    {% endif %}
    
{% endblock %}
