@charset "UTF-8";

* { 
    margin: 0px; 
    padding: 0px; 
} 

body {
    font-family: helvetica, sans-serif;
    font-size: 14pt;
    padding-bottom: 5%;
    background-color: #eee;
}

a {
    color: #4DB559;
}

h1 {
    margin: auto;
    margin-top: 5%;

    padding-bottom: 0.3em;

    text-align: center;

    font-size: 2em;
    font-style: italic;
    font-weight: normal;
}

div.dialog {
    width: 590px;
    padding: 1em;

    margin: auto;

    background-color: #fff;

    border-style: solid;
    border-width: 10px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    /*border-color: #007;*/
    border-color: #4DB559;

    -webkit-box-shadow: 10px 10px 10px rgba(0,0,0,0.3), 2px 2px 2px rgba(0,0,0,0.3) inset;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3), 2px 2px 2px rgba(0,0,0,0.3) inset;
}

h2 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

div.dialog-left-box {
    float: left;

    width: 35%;
    min-height: 320px;

    margin-bottom: 0.5em;
    padding-right: 0.75em;
}

div.dialog-right-box {
    float: left;

    width: 60%;
    min-height: 16em;

    border-left-width: 1px;
    border-left-style: dotted;
    border-left-color: #aaa;

    margin-bottom: 0.5em;
    padding-left: 0.75em;

    text-align: justify;
}

div.dialog-clear {
    height: 0;
    width: 0;
    clear: both;
}

p {
    padding: 0.25em 0em;
}
/* *-of-type is a CSS3-ism, won't be reliable; thankfully I care more about tops lining up */
p:first-child {
    padding-top: 0em;
}
p.calltoaction {
    font-weight: bold;
}

body.create-submission p.calltoaction {
    padding-top: 3em;
}
body.create-submission form.create-update-submission {
    padding-top: 7em;
}

body.update-submission p.calltoaction {
    padding-top: 4em;
}
body.update-submission form.create-update-submission {
    padding-top: 6.75em;
}

body.add-file p.calltoaction {
    padding-top: 4em;
}
body.add-file form.add-file {
    padding-top: 6.75em;
}
body.add-file form label {
    min-width: 0em;
}

body.review p.calltoaction {
    padding-top: 5em;
}
body.review div.usersubmission, body.review div.filelist {
    padding-top: 1.50em;
}
div.filelist ul {
    padding-top: 0.37em;
}
body.finished div.filelist {
    padding-top: 3.00em;
}

ul {
    list-style-position: inside;
    font-size: 0.75em;
}

dt {
    float: left;
    font-weight: bold;
    min-width: 4em;
    margin-right: 0.5em;
    text-align: right;
}

dd {
    padding-left: 4.5em;
}

label {
    float: left;
    display: block;
    font-weight: bold;
    min-width: 4em;
    margin-right: 0.5em;
    text-align: right;
}
input {
    clear: both;
    font-size: inherit;
}
input[type="submit"] {
    font-weight: bold;
    padding: 0.25em;
    margin-left: 0.5em;
    text-align: center;
}
input[type="text"] {
    width: 12em;
}
input[type="file"] {
    font-size: 0.75em;
}

p.submit-next {
    float: right;

    padding-bottom: 0em;

    text-align: right;
}

body.create-submission p.submit-next {
    margin-top: 4.25em;
}

body.update-submission p.submit-next {
    margin-top: 4.75em;
}

body.update-submission p.return {
    margin-top: 6.25em;
}

body.add-file p.submit-next {
    margin-top: 6.00em;
}

body.add-file p.return {
    margin-top: 5.25em;
}

body.review p.return {
    margin-top: 4.75em;
}

div.dialog-footer {
    text-align: center;
}

div.footer {
    text-align: center;
    font-size: 0.5em;
    margin-top: 3em;
    color: #666;
}
div.footer a {
    color: #666;
}

span.title {
    font-style: italic;
}
